@font-face {
    font-family: glyphIcons;
    src: url(icons.woff);
}

* {
    margin: 0;
}

body {
    display: flex;
    flex-direction: column;
    min-width: 240px;

    background-color: #444;
}

header {
    line-height: 104px;
    text-align: center;
    font-size: 26px;
    color: #eee;
    cursor: default;
    user-select: none;
}

footer {
    display: flex;
    flex-direction: column;
    align-items: center;

    width: 100%;
    max-width: 480px;
    margin-left: auto;
    margin-right: auto;
    color: #777;
}

main {
    display: flex;

    width: 100%;
    max-width: 480px;
    margin-left: auto;
    margin-right: auto;
}

header h1 {
    font-size: 60px;
    font-weight: normal;
    font-family: 'Cormorant Garamond', serif;
}

#o-slash {
    color: #F5A503;
    margin: 0 4px;
    font-weight: 900;
}

p#o-strategy {
    flex-grow: 1;

    font-family: 'Crimson Text', serif; 
    border-left: 10px #999 solid;
    padding: 20px;
    font-size:24px;
    min-height: 80px;
    color: #444;
    border-radius: 10px 0 0 10px;
    background-color: #eee;
}

button#o-next {
    font-size: 20px;
    border: none;
    background-color: #999;
    color: #eee;
    padding: 20px;
    border-radius: 0 10px 10px 0;
    cursor: pointer;
    user-select: none;
}

button#o-next:hover,
button#o-next:active {
    background-color: #F5A503;
}

button#o-next:focus {
    outline-style: solid;  
    outline-color: #E9F1DF;    
    outline-width: 2px;
}

.social-actions {
    margin: 30px 0;
}

.glyph-icon {
    font-family: glyphIcons;
}

a.glyph-icon {
    font-size: 36px;
    color: #999;
    text-decoration: none;
}

a.glyph-icon + a.glyph-icon {
    margin-left: 20px;
}

a.glyph-icon:hover {
    color: #F5A503;
}

a.glyph-icon:focus {
    outline-style: solid;  
    outline-color: #E9F1DF;    
    outline-width: 2px;
}

footer small {
    font-family: 'Crimson Text', serif;
    font-size: 12px;
}

@media (max-width: 480px) {
    p#o-strategy {
        border-left: 0;
        border-top: 10px #999 solid;
        border-radius: 10px 10px 0 0;
        margin: 0 20px;
    }

    main {
        flex-grow: 1;
        flex-direction: column;
    }

    button#o-next {
        margin: 0px 20px;
        border-radius: 0 0 10px 10px;
    }

    footer small {
        margin: 0 20px;
    }
}